<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Input 18</title>
  <link rel="stylesheet" href="style.css">
  <style> body { padding: 40px; display: flex; justify-content: center; background-color: #f8fafc; } </style>
</head>
<body>

<div class="inp-wrap">
  <div class="inp-box">
    <div class="inp-lbl-box"><label class="inp-lbl" for="inp-18">Email</label></div>
    <input type="email" id="inp-18" placeholder="name@domain.com" autocomplete="off" />
  </div>
</div>


</body>
</html>